nav.mt-4.d-flex.justify-content-center
    ul.pagination
        li.page-item(class=(!pageVo.isPrev) && "disabled")
            a.page-link(href=`?${pageVo.query}page=1`) first
        li.page-item(class=(!pageVo.isPrev) && "disabled")
            a.page-link(href=`?${pageVo.query}page=${pageVo.prev}`) prev
        -for (let p = 1; p <= pageVo.totalPage; p++)
            li.page-item(class=(p === pageVo.page) && "active")
                a.page-link(href=`?${pageVo.query}page=${p}`)=p
        li.page-item(class=(!pageVo.isNext) && "disabled")
            a.page-link(href=`?${pageVo.query}page=${pageVo.next}`) next
        li.page-item(class=(!pageVo.isNext) && "disabled")
            a.page-link(href=`?${pageVo.query}page=${pageVo.totalPage}`) last

