extends ../layout
block content
    h2.my-4 유저 리스트

    ul.nav.nav-tabs.justify-content-end
        li.nav-item
            a.nav-link(href="/users/list.do" class=(params.permission === undefined ? 'active' : '')) 전체
        li.nav-item
            a.nav-link(href="/users/list.do?permission=USER" class=(params.permission === 'USER' ? 'active' : '')) 일반
        li.nav-item
            a.nav-link(href="/users/list.do?permission=SILVER" class=(params.permission === 'SILVER' ? 'active' : '')) 실버
        li.nav-item
            a.nav-link(href="/users/list.do?permission=GOLD" class=(params.permission === 'GOLD' ? 'active' : '')) 골드
        li.nav-item
            a.nav-link(href="/users/list.do?permission=PRIVATE" class=(params.permission === 'PRIVATE' ? 'active' : '')) 비공개
        li.nav-item
            a.nav-link(href="/users/list.do?permission=ADMIN" class=(params.permission === 'ADMIN' ? 'active' : '')) 관리자

    table#userTable.table.table-striped.table-hover
        thead
            tr
                th 아이디
                //th 비밀번호
                th 이름
                //th 전화번호
                //th 이메일
                th 가입일
                th 생년월일
                th 성별
                th 주소
                //th 상세주소
                th 권한
                th.text-right 동작
        tbody
            each user in users
                tr
                    td #{user.u_id}
                    //td #{user.pw}
                    td #{user.name}
                    //td #{user.phone}
                    //td #{user.email}
                    td #{ user.post_time ? user.post_time.toLocaleDateString("ko") : ""}
                    td #{ user.birth ? user.birth.toLocaleDateString("ko") : ""}
                    td #{user.gender}
                    td #{user.address}
                    //td #{user.detail_address}
                    td #{user.permission}
                    td.text-right
                        a.btn.btn-outline-primary.btn-sm(href=`/users/${user.u_id}/detail.do`) 상세

    nav.mt-4.d-flex.justify-content-center
        ul.pagination
            li.page-item(class=(page===1) && "active")
                a.page-link(href=`?${query}page=1`) 1
            li.page-item(class=(page===2) && "active")
                a.page-link(href=`?${query}page=2`) 2
            li.page-item(class=(page===3) && "active")
                a.page-link(href=`?${query}page=3`) 3
            li.page-item(class=(page===4) && "active")
                a.page-link(href=`?${query}page=4`) 4
            li.page-item(class=(page===5) && "active")
                a.page-link(href=`?${query}page=5`) 5
